<mat-toolbar color="primary">

  <span class="title" [routerLink]="'/'">
    <mat-icon [style.vertical-align]="'middle'">task</mat-icon>
    <span [style.vertical-align]="'middle'">DTP Leaf</span>
  </span>

  <button mat-icon-button (click)="save()" [matTooltip]="'Save Report'">
    <mat-icon>save</mat-icon>
  </button>

  <button mat-icon-button (click)="load()" [matTooltip]="'Load Report'">
    <mat-icon>folder_open</mat-icon>
  </button>


  <button mat-icon-button (click)="export()" [matTooltip]="'Download report'">
    <mat-icon>file_download</mat-icon>
  </button>

  <span fxFlex="1 1 auto"></span>

      <button mat-button [routerLink]="'managetags'" [matTooltip]="'Manage tags'">
    <mat-icon>edit</mat-icon> Manage tags
  </button>



</mat-toolbar>

<router-outlet></router-outlet>


