<div fxLayout="column" fxLayoutGap="20px">
  <app-tag-menu [taggedItems]="[taggedItem]">Select tags</app-tag-menu>
  <div fxLayout="row" fxLayoutGap="12px">
    <span class="tag" *ngFor="let tag of taggedItem.reportPart.tags"> {{tag | tagTitlePipe}}</span>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>data source</mat-label>
    <mat-select [(value)]="dataFile">
      <mat-option [value]="fileName" *ngFor="let fileName of allDataFiles">{{ fileName }}</mat-option>
    </mat-select>
  </mat-form-field>


  <button mat-raised-button [disabled]="!dataFile" (click)="export()" [style.align]="'rtl'">Export</button>
</div>

<!--<ng-template #templatePortalContent>-->
<!--  <div [ngTemplateOutlet]="rootHost"></div>-->
<!--</ng-template>-->
<ng-template #rootHost let-exporterSelection="exporterSelection" let-finData="finData">
  <app-report [report]="exporterSelection" [finData]="finData"></app-report>
</ng-template>


