<div fxLayout="column" fxLayoutGap="20px">
  <app-tag-menu [taggedItems]="[taggedItem]">Select tags</app-tag-menu>
  <div fxLayout="row" fxLayoutGap="12px">
    <span *ngFor="let tag of taggedItem.reportPart.tags"> {{tag | tagTitlePipe}}</span>
  </div>

  <button mat-raised-button (click)="export()" [style.align]="'rtl'">Export</button>
</div>


<iframe #iframe style="visibility: hidden;"></iframe>

<!--<ng-template #templatePortalContent>-->
<!--  <div [ngTemplateOutlet]="rootHost"></div>-->
<!--</ng-template>-->
<ng-template #rootHost let-exporterSelection="exporterSelection">
  <app-report [report]="exporterSelection"></app-report>
</ng-template>


