<!--<app-tag-menu [taggedItems]="[taggedItem]"></app-tag-menu>-->
<span class="example-insert" [contentEditable]="false" (mouseenter)="showDeleteButton()" (mouseleave)="hideDeleteButton()">

    <mat-icon class="var-icon">calculate</mat-icon>

    <mat-form-field appearance="legacy">
      <mat-label>variable</mat-label>
      <mat-select [(value)]="value.varName">
        <mat-option [value]="tag" *ngFor="let tag of allVars">{{ tag | tagTitlePipe }}</mat-option>
      </mat-select>
    </mat-form-field>


  <mat-icon class="var-icon" (click)="toogleTagSelection()">label</mat-icon>

    <mat-form-field appearance="legacy" *ngIf="tagSelectionEnabled">
      <mat-label>tag</mat-label>
      <mat-select [(value)]="value.tag">
        <mat-option [value]="null">-- auto --</mat-option>
        <mat-option [value]="tag" *ngFor="let tag of allTags">{{ tag | tagTitlePipe }}</mat-option>
      </mat-select>
    </mat-form-field>


  <button class="deletebutton" mat-icon-button *ngIf="showDelete" (click)="delete()"><mat-icon>delete</mat-icon></button>
</span>
